<div class="row container" *ngIf="user">
    <h2 id="userFirstname" class="collection-header center-align">{{user.firstname}} {{user.lastname}}</h2>
  <div class="col s6">
      <div class="card redbg">
          <div class="card-content white-text">
            <span class="card-title">About Me!</span>
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively. Test me out!</p>
          </div>                  
        </div>
  </div>
  <div class="col s6">
    <div *ngIf="user">
      <ul class="collection">
        <li class="collection-item">Firstname: {{user.firstname}}</li>
        <li class="collection-item">Lastname: {{user.lastname}}</li>
        <li class="collection-item">Email: {{user.email}}</li>
        <li class="collection-item">Phone: {{user.phone}}</li>
      </ul>
      <button id="btnUpdateUser" class="btn-floating btn-large waves-effect bluebg btnUpdateProfile" (click)="openModal()"><i class="material-icons">edit</i></button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s6">
    <h2>Upload profile image</h2>

    <input type="file" (change)="onFileSelected($event)">
    <button type="button" (click)="onUpload()">Upload</button>
    
    <form [formGroup]="profileForm" (ngSubmit)="uploadImage(profileForm)">
      <div class="file-field input-field">
        <div class="btn">
          <span>File</span>
          <input type="file" name="profile_img" [formControl]="profileForm.controls['profile_img']">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
      <button class="btn" type="submit">Submit</button>
    </form>
  </div>
</div>



      
    <div id="modal1" class="modal updateProfile-wrapper valign-wrapper z-depth-4 card-panel" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
      
      <div class="modal-content center-align">
        <h4>Update profile</h4>
        <form [formGroup]="updateUserForm" (ngSubmit)="onSubmit(updateUserForm)" class="col s12">
          <div class="row">
            <div class="input-field col s6 center">
                <i class="material-icons profileIcon">person_outline</i>
              <input id="updateFirstname"  name="firstname" [formControl]="updateUserForm.controls['firstname']" type="text" class="validate profileInput">
              <label class="profileLabel" for="profile_firstname">{{user.firstname}}</label>
            </div>
            <div class="input-field col s6 center">
              <input id="updateLastname"  name="lastname" [formControl]="updateUserForm.controls['lastname']" type="text" class="validate profileInput">
              <label class="profileLabel" for="profile_last_name">Last Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 center">
                <i class="material-icons profileIcon">person_outline</i>
              <input id="updatePw" name="password" [formControl]="updateUserForm.controls['password']" type="password" class="validate profileInput">
              <label class="profileLabel" for="profile_password">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 center">
                <i class="material-icons profileIcon">person_outline</i>
              <input id="updateEmail" name="email" [formControl]="updateUserForm.controls['email']" type="email" class="validate profileInput">
              <label class="profileLabel" for="profile_email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 center">
                <i class="material-icons profileIcon">person_outline</i>
              <input id="updatePhone" name="phone" [formControl]="updateUserForm.controls['phone']" type="phone" class="validate profileInput">
              <label class="profileLabel" for="profile_phone">Phone</label>
            </div>
          </div>
          <button class="waves-effect  btn-flat" (click)="closeModal()">Close</button>
          <button id="userUpdated" class="modal-action modal-close waves-effect btn-flat" type="submit" name="action">Update
            <i class="material-icons right">send</i>
          </button>
        </form>
      </div>
      </div>
  