
<div class="register-wrapper valign-wrapper">
  <div class="col s12 z-depth-4 card-panel register-section">
    
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">
          <div class="row">
              <div class="col s12 center-align">
                <h5>Pilea</h5>
                <p class="center-align">Join our community now !</p>
              </div>
            </div>
        <div class="row register-row">
          <div class="input-field col s6 center form-group">
            <i class="material-icons registerIcon">person_outline</i>
            <input id="firstname" name="firstname" [formControlName]="firstname" type="text" class="validate registerInput form-control">
            <label class="registerLabel" for="register_first_name">First Name</label>
            <div *ngIf="registerForm.controls.firstname.errors?.invalid_characters">
            Invalid Characters... 
            </div>
          </div>
          <div class="input-field col s6 center">
            <input id="lastname" name="lastname" [formControlName]='lastname' type="text" class="validate ">
            <label class="registerLabel" for="register_last_name">Last Name</label>
            <div *ngIf="registerForm.controls.lastname.errors?.invalid_characters">
              Invalid Characters... 
            </div>
          </div>
        </div>
      
      <div class="row register-row">
        <div class="input-field col s12 center">
            <i class="material-icons registerIcon">lock_outline</i>
          <input id="password" name="password" [formControlName]="password" type="password" class="validate registerInput">
          <label class="registerLabel" for="register_password">Password</label>
          <div *ngIf="registerForm.controls.password.errors?.invalidPassword">
            Password can't be 123
          </div>
        </div>
      </div>
      <div class="row register-row">
        <div class="input-field col s12 center">
            <i class="material-icons registerIcon">lock_outline</i>
          <input id="password2" name="password2" [formControlName]='password2' type="password" class="validate registerInput">
          <label class="registerLabel" for="register_password2">Password again</label>
          <div *ngIf="registerForm.controls.password.errors?.invalidPassword">
            Password can't be 123
          </div>
        </div>
      </div>
      <div class="row register-row">
        <div class="input-field col s12 center">
          <i class="material-icons registerIcon">mail_outline</i>
          <input id="email" name="email" [formControlName]="email" type="email" class="validate registerInput">
          <label class="registerLabel" for="register_email">Email</label>
        </div>
      </div>
      <div class="row register-row">
        <div class="input-field col s12 center">
            <i class="material-icons registerIcon">local_phone</i>
          <input id="phone" name="phone" [formControlName]='phone' type="text" class="validate registerInput">
          <label class="registerLabel" for="register_phone">phone</label>
        </div>
      </div>
      
      <div class="row register-row">
        <div class="file-field input-field col s12">
          <div class="btn">
            <span>File</span>
            <input type="file" [formControl]="registerForm.controls['image']" (change)="fileChangeEvent($event)" placeholder="Upload a file..." multiple/>
          </div>
        </div>
      </div>
      <div class="row register-row">
        <div class="col s12">
          <button class="btn waves-effect waves-light color col s12" type="submit" name="action" id="btnSignUp" (click)="upload()">REGISTER NOW!
          </button>
        </div>
      </div>
      <div class="row">
          <div class="input-field col s8 offset-s3">
            <p class="margin extralinks">Already have an account? <a [routerLink]="['/login']">Login</a></p>
          </div>  
        </div>
      
      </form>
    </div>
  </div>

