<div class="main-header">
  <h1>Welcome to this awesome site.</h1>
  <h4>A new project management tool.</h4>
  <button color="warn" mat-raised-button>Start here</button>  
</div>

<section id="container">  
    <div class="row info-boxes">

        <div class="col s4">
          hehe
          <!-- Promo Content 1 goes here -->
        </div>
        <div class="col s4">
          hhe
          <!-- Promo Content 2 goes here -->
        </div>
        <div class="col s4">
          ss
          <!-- Promo Content 3 goes here -->
        </div>
  
      </div>
</section>

