.main-header {
  text-align: center;
  padding: 100px 10px;
}

.color{
  background: #e1eec3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #f05053, #e1eec3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f05053, #e1eec3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.homeimage{
  width: 400px;
}

.info-boxes{
background: #f5f5f5;
border-top: #6c747f solid 1px;
border-bottom: #6c747f solid 1px;
padding: 50px 0px;

}
.info-icon{
  height: 100px;
  width: 100px;
  border: 3px solid #F62D51;
  border-radius: 1000px;
  text-align: center;
  margin: 70px auto 0;
}

.info-icon i {
  color: #F62D51;
  font-size: 50px;
  line-height: 96px;
}

.info-title{
  padding-top: 20px;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
}
.info-description{
  padding-top: 10px;
  text-align: center;
  color: #6c747f;
}

.statements{
  padding:50px 0;
}