<div class="main-header">
  <div class="container">
    <div class="row">
      <div class="col s6">
        <img class="homeimage" src="../../../assets/img/slack.png">
      </div>

      <div class="col s6 left-align">
          <h2>Gather all your information</h2>
          <h5>Pilea is a system for companies to manage all their data in one place.</h5>
          <a class="waves-effect waves-light color btn">Get started</a>
      </div>
    </div>
  </div>
</div>

<section id="container" class="">  
    <div class="row info-boxes">
      <h4 class="center-align homeh4">Why Choose us?</h4>
        <div class="col l3 offset-l1">
          <div class="info-icon">
            <i class="material-icons">people</i>
          </div>
          <div class="info-title center-align">
            Manage employees
          </div>
          <div class="info-description ">
          Create a list with all your employees and their information to manage it.
        </div>
        </div>
        <div class="col l4 ">
          <div class="info-icon">
            <i class="material-icons">chat_bubble</i>
          </div>
          <div class="info-title">
           Internal Chat system
          </div>
          <div class="info-description">
            Benefit from an internal chat system, so your employees can write with eachother. 
        </div>
        </div>
        <div class="col l3 ">
            <div class="info-icon">
              <i class="material-icons">schedule</i>
            </div>
            <div class="info-title">
             Time saver
            </div>
            <div class="info-description">
              All your company needs in one place, this is the perfect tool to keep all your information stored and save a lot of time!
          </div>
          </div>
    </div>
    
    
    <div class="row statements">
      <h4 class="center-align">Listen to our customers</h4>
      <div class="col s12 m6 l3 offset-l1">
        <div class="card-panel grey lighten-5 z-depth-1 hoverable">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="../../../assets/img/yuna.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="black-text">
                  <blockquote>
                      This is a square image. Add the "circle" class to it to make it appear circular.
                    </blockquote>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6 offset-m2 l4 ">
        <div class="card-panel grey lighten-5 z-depth-1 hoverable">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="../../../assets/img/yuna.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="black-text">
                  <blockquote>
                      This is an example quotation that uses the blockquote tag.Learn more now!
                    </blockquote>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6 offset-m2 l3 ">
          <div class="card-panel grey lighten-5 z-depth-1 hoverable">
            <div class="row valign-wrapper">
              <div class="col s2">
                <img src="../../../assets/img/yuna.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
              </div>
              <div class="col s10">
                <span class="black-text">
                    <blockquote>
                        This is an example quotation that uses the blockquote tag.Learn more now!
                      </blockquote>
                </span>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>

