<div class="main-header">
  <h1>Welcome to this awesome site.</h1>
  <h4>A new project management tool.</h4>
  <button color="warn" mat-raised-button>Start here</button>  
</div>

<section id="container">  
    <div class="row info-boxes">
        <div class="col l3">
          <div class="info-icon">
            <i class="material-icons">dashboard</i>
          </div>
          <div class="info-title">
            VISUAL EDITING IN BROWSER
          </div>
          <div class="info-description"></div>
          Create a website without thinking about content editing. Have content editing layer for free without spending a minute.
        </div>
        <div class="col l3">
          <div class="info-icon">
            <i class="material-icons">people</i>
          </div>
          <div class="info-title">
            Manage employees
          </div>
          <div class="info-description"></div>
          Create a list with all your employees and their information to manage it.
        </div>
        <div class="col l3">
          <div class="info-icon">
            <i class="material-icons">chat_bubble</i>
          </div>
          <div class="info-title">
           Internal Chat system
          </div>
          <div class="info-description"></div>
            Benefit from an internal chat system, so your employees can write with eachother. 
        </div>
        <div class="col l3">
            <div class="info-icon">
              <i class="material-icons">schedule</i>
            </div>
            <div class="info-title">
             Time saver
            </div>
            <div class="info-description"></div>
              All your company needs in one place, this is the perfect tool to keep all your information stored and save a lot of time!
          </div>
      </div>
      <div class="divider"></div>
    <div class="row statements">
      <h4 class="center-align">Listen to our customers</h4>
      <div class="col s12 m6 l3 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1 hoverable">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="../../../assets/img/yuna.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="black-text">
                  <blockquote>
                      This is a square image. Add the "circle" class to it to make it appear circular.
                    </blockquote>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6 offset-m2 l3 ">
        <div class="card-panel grey lighten-5 z-depth-1 hoverable">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="../../../assets/img/yuna.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="black-text">
                  <blockquote>
                      This is an example quotation that uses the blockquote tag.Learn more now!
                    </blockquote>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

