<div class="userlist-wrapper">
  <div class="row">

    <div class="collection-header col l6 offset-l3 searchbox">
      <input type="text" [(ngModel)]="search" placeholder="Search for users">
    </div>
  </div>
  <div *ngIf="users.length === -1"> No users found </div>

  <button class="btn-floating btn-large waves-effect btnaddUserlist redbg"><i class="material-icons">add</i></button>
  
  <div class="container" >
    <div class="row">      
      <table class="striped centered">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Email</th>
            <th>Phone</th>
            <th>User info</th>
            <th>Delete user</th>
          </tr>
        </thead>
      <tbody>
        <tr class="userslist" *ngFor='let user of users | filterusers: search'>
          <td>{{user.firstname | uppercase}}</td>
          <td>{{user.email}}</td>
          <td>{{user.phone}}</td>
          <td><button class="btn bluebg" (click)='userDetails(user.id)'><i class="material-icons">info</i></button></td>
          <td><button class="btn btnDeleteUser redbg" (click)='deleteUser(user.id)'><i class="material-icons">delete</i></button></td>
        </tr>
      </tbody>
    </table>
    </div> 
  </div>
    
</div>