

    <ul id="slide-out" class="sidenav sidenav-fixed">
        <li><div class="user-view">
          <div class="background">
            <img src="../../../img/office.jpg">
          </div>
          <a href="#user"><img class="circle" src="/img/yuna.jpg"></a>
          <a href="#name"><span class="white-text name">John Doe</span></a>
          <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
        </div></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader">Dashboard</a></li>
        <li><a class="waves-effect" href="#!">Sales overview</a></li>
        <li><a class="waves-effect" href="#!">Inventory</a></li>
        <li><a class="waves-effect" href="#!">Employees</a></li>
      </ul>