

    <ul id="slide-out" class="sidenav sidenav-fixed">
        <li><div class="user-view">
          <div class="background">
            <img src="../../../assets/img/office.jpg">
          </div>
          <a href="#user"><img alt="profileimage" class="circle" src="../../../assets/img/yuna.jpg"></a>
          <a href="#name"><span class="white-text name">{{user.firstname}} {{user.lastname}}</span></a>
          <a href="#email"><span class="white-text email">{{user.email}}</span></a>
        </div></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader">Dashboard</a></li>
        <li><a class="waves-effect" href="#!">Sales overview</a></li>
        <li><a class="waves-effect" href="#!">Inventory</a></li>
        <li *ngIf="authService.loggedIn()"><a id="navUserlist"  [routerLinkActive]="['active']" [routerLink]="['/employess']">Employees<span class="new badge pulse">4</span></a></li>
        <li *ngIf="authService.loggedIn()"><a  [routerLinkActive]="['active']" [routerLink]="['/chatroom']">Chat room</a></li>
      </ul>